dataset:
  paths:
    train:
      # UDacity standard dataset..
      - datasets/dataset_2/driving_log.csv
      #  Made with x-box joystick...
      - datasets/dataset_3/driving_log.csv
      #  Drive near both road edges(2 laps) & drink driving(1 lap)...
      - datasets/dataset_4/driving_log.csv
      #  Drive near both road edges(6 laps)...
      - datasets/dataset_5/driving_log.csv
      #  Drink driving (3 laps)...
      - datasets/dataset_6/driving_log.csv
      #  Normal driving (4 laps)...
      - datasets/dataset_7/driving_log.csv
      #  Normal reverse driving (6 laps)...
      - datasets/dataset_8/driving_log.csv
      #  Normal driving (6 laps)...
      - datasets/dataset_9/driving_log.csv
      #  Test dataset normal driving (3 laps)...
      - datasets/dataset_10/driving_log.csv
      #  Normal reserve driving (5 laps)...
      - datasets/dataset_11/driving_log.csv
       #  Normal reserve driving (10 laps)...
      - datasets/dataset_12/driving_log.csv
      - datasets/dataset_13/driving_log.csv
      - datasets/dataset_14/driving_log.csv
      - datasets/dataset_15/driving_log.csv
      - datasets/dataset_16/driving_log.csv
      - datasets/dataset_17/driving_log.csv
      - datasets/dataset_18/driving_log.csv
      - datasets/dataset_19/driving_log.csv
      - datasets/dataset_20/driving_log.csv
      - datasets/dataset_21/driving_log.csv
      - datasets/dataset_0/driving_log.csv
      - datasets/dataset_1/driving_log.csv
    test:
      - datasets/dataset_0/driving_log.csv
      - datasets/dataset_1/driving_log.csv
  columns:
    - center
    - left
    - right
    - steering
    - throttle
    - reverse
    - speed
  features:
    - center
    - left
    - right
  labels:
    - steering

network:
    image_input_shape:
      height: 66
      width: 200
      channels: 3
    speed_input_shape: 1
    reserve_input_shape: 1

train:
  batch_size: 100
  validation_set_percent: .30
  augment:
    threshold: .6
    choose_adjustment_angle: .25
    translate_range_x: 100
    translate_range_y: 10
    translate_angle_delta: .0035
    choose_image_adjustment_angle: .2
    image_translate_angle_delta: .002
    throttle:
      steer_threshold: .5
      speed_threshold: 20
      throttle_delta: .3


  checkpoint_path: checkpoints
  preprocess:
    crop:
      top_offset: 55
      bottom_offset: 25

pi_controller:
    set_point: 18
    k_p: 0.1
    k_i: 0.0003