dataset:
  path: dataset/driving_log.csv
  image:
      width: 320
      height: 160
      channels: 3
  columns:
    - center
    - left
    - right
    - steering
    - throttle
    - reverse
    - speed
  features:
    - center
    - left
    - right
  labels:
    - steering
    # - throttle
    # - reverse
    # -

train:
  validation_set_percent: 0.2
  batch_size: 40
  augment:
    threshold: 0.6
    translate_range_x: 100
    translate_range_y: 10
  checkpoint_path: checkpoints